<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Cadastro de Hóspede</h1>
  
</div>

<!-- Student form -->
<form [formGroup]="studentForm" (ngSubmit)="save()" novalidate>
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <div class="row">

        <div class="col-md-12 mb-3">
          <label>Nome</label>
          <input type="text" formControlName="nome" class="form-control" required>
          <!-- Showing errors using getter method -->
          <p *ngIf="nome.touched && nome.invalid" class="error"><sup>*</sup>Informe um nome</p>
          <p *ngIf="nome.errors?.minlength" class="error"><sup>*</sup>Nome deve conter duas letras</p>
        </div>

        <div class="col-md-12 mb-3">
          <label>País origem</label>
          <input type="text" formControlName="paisOrigem" class="form-control" required>
          <!-- Showing errors using getter method -->
          <p *ngIf="paisOrigem.touched && paisOrigem.invalid" class="error"><sup>*</sup>Informe um país de origem</p>
         </div>

         

      </div>
 

      <div class="form-group text-right">
        <button type="submit" class="btn btn-success" [disabled]="!studentForm.valid">Salvar</button>
      </div>

    </div>
  </div>
</form><!-- Student form ends-->